body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  margin: 0;
  font-size: 16px;
}

h2 {
    font-size: 1.75em;
}

.major-container {
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 0.0625em;
    padding-bottom: 2.8125em;
    height: auto;
    background-color: #555;
    color: #fff;
}

/* NAVBAR stuff */

.navbar {
    background-color: #f1f1f1;
    letter-spacing: 0.125em;
    opacity: 0.9;
    width: 20%;
    position: fixed;
    height: 100%;
    /* Add a scroll bar if there's too much stuff on nav */
    overflow: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 0.5em 1em;
  text-decoration: none;
}

li a.active {
  background-color: #2d2d30;
  color: #fff;
}

li a:hover:not(.active) {
  background-color: #555;
  color: #fff;
}

.navbar-brand {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
    background-color: #f1f1f1;
}

#profile-pic {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}

#profile-name {
    text-align: center;
}

/* ABOUT ME section */
#hello-world {
    font-family: Roboto, sans-serif;
    font-size: 3em;
}

#myinfo {
    font-size: 1.25em;
    font-weight: 500;
}

/* SKILLS section */
#python {
    display: flex;
}

#skills a {
    color: #fff !important;
    text-decoration: none;
}

#skills a:hover {
    text-decoration: underline;
}

#skills i {
    margin-top: 1rem;
    margin-right: 1.25rem;
    margin-left: 2rem;
}

#html-css-javascript {
    display: grid;
    /* set column (width) size */
    grid-template-columns: 2.625rem auto;
    /* set height for each row */
    grid-template-rows: 3rem 3rem 3rem;
}

#html-css-javascript p {
    grid-column: 2;
    /* start on row 1 and span 3 columns */
    grid-row: 1 / 4;
    margin-left: 3.25rem;
    padding-top: 1.25rem;
}

#java {
    display: flex;
    margin-top: 2.1875rem;
}

#java p {
    margin-left: 0.4375rem;
}

#ruby {
    display: flex;
}

#ruby i {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 1.875rem;
}

#c-plus-plus {
    display: flex;
}

#c-plus-plus i {
    font-size: 2.75rem;
    margin-top: 1.5rem;
    margin-left: 1.8125rem;
}

/* COLLAPSiBLE styling */

.collapsible {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    width: auto;
    border: none;
    border-radius: 1.5625em;  /* rounded button corners */
    text-align: center;
    outline: none;
    font-size: 0.8em;
}

.active, .collapsible:hover {
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\003E';  /* unicode for right-pointing arrow */
    color: #000;
    float: right;
    margin-left: 0.3125em;
}

.active:after {
    transform: rotate(90deg);  /* rotate arrow after clicking */
}

.collapse-content {
    padding: 0 1.125em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse-content ul {
    margin-bottom: 0.9em;
}

.collapse-content li {
    list-style: none;
}

/* EDUCATION stuff */

#data-model-list li,
#cloud-list li,
#lakes-list li,
#pipeline-list li,
#dev-tools-list li,
#db-sql-list li,
#crud-list li,
#shallot-list li {
    list-style: inherit;
}

#course-list {
    columns: 2;
    line-height: 1.5625em;
    width: 28.125em;
}

/* PROJECTS styling */

#shallot-desc {
    list-style: none;
    padding-left: 1.5625em;
}

#projects a {
    padding-left: 0;
    padding-right: 0;
    background-color: #555;
    color: #fff !important;
}

#projects a:hover {
    text-decoration: underline;
}

/* CAROUSEL inside shallot project */
.slide {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 62.5em;
  position: relative;
  margin: auto;
  margin-top: 1.25em;
}

/* Next & previous buttons */
.prev, .next {
  background-color: rgba(0,0,0,0.5) !important;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 25px;
  padding: 1rem;
  margin-top: -1.375em;
  color: #fff;
  font-weight: bold;
  font-size: 1.125em;
  transition: 0.6s ease;
  border-radius: 0 0.1875em 0.1875em 0;
  user-select: none;
}

#prev, #next {
    padding-left: 0.9375em !important;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875em 0 0 0.1875em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.9) !important;
    text-decoration: none !important;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  opacity: 0.6;
  font-size: 1em;
  padding: 0.0625em 0.75em;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.9375em;
  width: 0.9375em;
  margin: 0 0.125em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f1f1f1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#udacity-projects,
#udemy-projects {
    padding-left: 1.5625em;
}

#udacity-projects ul,
#udemy-projects ul {
    margin-bottom: 0.9em;
}

#udacity-projects li,
#udemy-projects li {
    list-style: none;
}

#data-pipe-desc li,
#data-lake-desc li,
#data-warehouse-desc li,
#cassandra-model-desc li,
#postgres-model-desc li,
#capstone-desc li,
#item-catalog-desc li,
#crud-server-desc li,
#log-analysis-desc li,
#item-store-desc li,
#book-store-desc li {
    list-style: square;
}

#log-analysis-list li {
    list-style: decimal;
}

/* CONTACT styling */

#contact-list {
    list-style: none;
}

.contact-icon {
    height: 1.25em;
    width: 1.25em;
    display: inline-block;
    vertical-align: middle;
}

#contact-item {
    margin-left: 0.9375em;
}

#contact-item a {
    display: inline-block;
    color: #fff;
    padding-left: 0;
}

#contact-item a:hover {
    text-decoration: underline;
}
